/* You can add global styles to this file, and also import other style files */
$purple: rgba(201, 6, 136, 0.671);
$yellow: rgb(245, 245, 71);
$green: rgb(43, 245, 43);

$light-red: rgb(247, 221, 221);

html, body{
  height: 100%;
  font-size: 20px;
  overflow: hidden !important;
}